@model WebApplication2.Models.Wypozyczenia
@{ ViewData["Title "] = "Create";}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Dodaj wypozyczenie</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.IdWypozyczenia, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IdKlienta)
            @Html.ValidationMessageFor(model => model.IdKlienta)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IdRoweru, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IdRoweru)
            @Html.ValidationMessageFor(model => model.IdRoweru)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataWypozyczenia, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataWypozyczenia)
            @Html.ValidationMessageFor(model => model.DataWypozyczenia)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataZwrotu, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataZwrotu)
            @Html.ValidationMessageFor(model => model.DataZwrotu)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to Employee List", "Index")
</div>

